.f1{
    background-color: rgb(1, 1, 46);
    padding-bottom: 20px;
    padding-top: 0px;
    display: flex;
    
}
#h3{

    margin-bottom: 0px;
    margin-left: 850px;
    padding-top: 40px;
    color: aliceblue;
}
#h4{
    margin-left: 50px;
    margin-bottom: 40px;
    padding-top: 40px;
    color: aliceblue;
}
#h2{
    color: blanchedalmond;
    margin-left: 30px;
    margin-bottom: -40px;
    padding-bottom: -80px;
    padding-top: 30px;
    font-family:cursive;
}
#img{
    margin-left: 330px;
    margin-top: 20px;
}
#h{
    margin-top: -1340px;
    margin-left: 90px;
    font-size: 40px;
    color: rgb(23, 1, 1);
}
#l{
    font-size: 25x;
}
#l1{
    font-size: 20px;
    margin-top: -60px;
}
#k{
    margin-top: -730px;
}
#n{
    margin-left: 1090px;
    margin-top: -155px;
    color: rgb(143, 79, 1);
}
#e{
    margin-left: -80px;
    margin-top: -35px;
    color: rgb(143, 79, 1);
    font-size: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  h1{
    color: #45a049;
  }